.fa-clock {
    color: red !important;
}

.fa-check-circle {
    color: green !important;
}

span.comment.w-90 {
    margin-left: 4%;
}

span.reply.w-90 {
    margin-left: 8%;
}

ul.list-group.unscroll.my-3 {
    position: static;
}

.modal-lg {
    max-width: 80% !important;
}

.count_div {
    position: fixed;
    bottom: 3px;
    left: 6px;
    background-color: black;
    color: blanchedalmond;
    padding: 15px;
    border-radius: 8px;
    -ms-grid-layer: initial;
}